:host {


  mat-grid-tile{
    background: #FFF;

    mat-grid-tile-header{
      font-size: 16px;
      font-weight: 600;
      background: #FFF;
      color: #333;

      .plan-name-price{       
        
        .plan-price-tile{
          
        }
  
        .plan-price{
          color: #f60;
          font-weight: 500;
        }
      }
    }

    mat-grid-tile-footer{
      background: #FFF;
    }

    
  }

  .grid-container {
    margin: 20px;
  }

  .mat-card-header{
    border-bottom: 1px solid #d6d6d6;

    .mat-card-title {
      margin-bottom: 5px;
    }
  }

  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    padding: 1rem;

    

    .plan-detail{
      margin: 0.5rem 0;

      .plan-features{
        list-style: none;
        padding: 0;

        .feature-tick{
          margin-right: 5px;
          font-size: 20px;
          display: flex;
          align-items: center;
          color: #45ad04;
        }

        li{
          padding: 5px 0;
        }
      }
    }
  }

  .dashboard-card-content {
    text-align: center;
  }


  .notification {
    color: #bd1706;
    text-align: center;
    font-weight: 400;
  }

  .notification .link {
    text-decoration: underline;
    cursor: pointer;
  }
}