<div>
    <mat-grid-list cols="4" rowHeight="300px" gutterSize="2px">
        <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">


            <div [fxLayout]="'column'" fxflexfill fxLayoutAlign="space-between" class="plan-name-price">
                <div class="plan-price-tile">
                    <span class="plan-price">{{ 2000 | currency: 'INR':true }}</span> / year
                </div>
                <div class="plan-detail">
                    <ul class="plan-features">
                        <li class="d-flex align-items-center">
                            <mat-icon class="feature-tick">check</mat-icon> Unlimited Accounts & Products
                        </li>
                        <li class="d-flex align-items-center">
                            <mat-icon class="feature-tick">check</mat-icon> GST Compliant
                        </li>
                        <li class="d-flex align-items-center">
                            <mat-icon class="feature-tick">check</mat-icon> Inventory Transaction and Reports
                        </li>
                        <li class="d-flex align-items-center">
                            <mat-icon class="feature-tick">check</mat-icon> All Features of Lite Edition
                        </li>
                        <li class="d-flex align-items-center">
                            <mat-icon class="feature-tick">check</mat-icon> Tax Inc/Exc Invoicing
                        </li>
                        <li class="d-flex align-items-center">
                            <mat-icon class="feature-tick">check</mat-icon> Automatic Backup
                        </li>
                        <li class="d-flex align-items-center">
                            <mat-icon class="feature-tick">check</mat-icon> Multiple Companies
                        </li>
                        <li class="d-flex align-items-center">
                            <mat-icon class="feature-tick">check</mat-icon> No Innoventry Branding on Invoices
                        </li>
                        <li class="d-flex align-items-center">
                            <mat-icon class="feature-tick">check</mat-icon> No Innoventry Branding on Invoices
                        </li>
                    </ul>
                </div>
                <div class="justify-content-center">
                    <button mat-raised-button color="primary" [fxFlex]="50">
                        Buy
                    </button>
                </div>
            </div>

        </mat-grid-tile>
    </mat-grid-list>
</div>