<div *ngIf="isFormLoaded">
    <mat-card [class]="'mt-1 mb-1'" *ngIf="companyPlanInfo.plan !== 'free'">
        <mat-card-header [class]="'mat-card-headers'">
            <mat-card-subtitle>
                Company Information                    
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="start">

                <div [fxLayout]="'row'" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                    <mat-form-field appearance="outline"
                            [class]="(isHandset$ | async) ? 'innov-matFormField pr-1' : 'innov-matFormField pr-1 ml-1'" 
                            [fxFlex]="50">
                            <mat-label>Admin Name</mat-label>
                            <input matInput placeholder="Admin Name" [(ngModel)]="companyPlanInfo.adminName" disabled>
                    </mat-form-field>

                    <mat-form-field appearance="outline"
                            [class]="(isHandset$ | async) ? 'innov-matFormField pr-1' : 'innov-matFormField pr-1 ml-1'" 
                            [fxFlex]="50">
                            <mat-label>Admin Email</mat-label>
                            <input matInput placeholder="Admin Email" [(ngModel)]="companyPlanInfo.adminEmail" disabled>
                    </mat-form-field>
                </div>

                <div [fxLayout]="'row'" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                    <mat-form-field appearance="outline"
                            [class]="(isHandset$ | async) ? 'innov-matFormField pr-1' : 'innov-matFormField pr-1 ml-1'" 
                            [fxFlex]="50">
                            <mat-label>Admin Mobile</mat-label>
                            <input matInput placeholder="Admin Mobile" [(ngModel)]="companyPlanInfo.adminMobile" disabled>
                    </mat-form-field>

                    <mat-form-field appearance="outline"
                            [class]="(isHandset$ | async) ? 'innov-matFormField pr-1' : 'innov-matFormField pr-1 ml-1'" 
                            [fxFlex]="50">
                            <mat-label>Product Code</mat-label>
                            <input matInput placeholder="Product Code" [(ngModel)]="companyPlanInfo.productCode" disabled>
                    </mat-form-field>
                </div>

            </div>

            <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="start">

                <div [fxLayout]="'row'" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                    <mat-form-field appearance="outline"
                            [class]="(isHandset$ | async) ? 'innov-matFormField pr-1' : 'innov-matFormField pr-1 ml-1'" 
                            [fxFlex]="50">
                            <mat-label>Admin Country</mat-label>
                            <input matInput placeholder="Admin Country" [(ngModel)]="companyPlanInfo.adminCountry" disabled>
                    </mat-form-field>

                    <mat-form-field appearance="outline"
                            [class]="(isHandset$ | async) ? 'innov-matFormField pr-1' : 'innov-matFormField pr-1 ml-1'" 
                            [fxFlex]="50">
                            <mat-label>Admin State</mat-label>
                            <input matInput placeholder="Product Code" [(ngModel)]="companyPlanInfo.adminState" disabled>
                    </mat-form-field>
                </div>

                <div [fxLayout]="'row'" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                    <mat-form-field appearance="outline"
                            [class]="(isHandset$ | async) ? 'innov-matFormField pr-1' : 'innov-matFormField pr-1 ml-1'" 
                            [fxFlex]="50">
                            <mat-label>Admin Pincode</mat-label>
                            <input matInput placeholder="Admin Pincode" [(ngModel)]="companyPlanInfo.adminPinCode" disabled>
                    </mat-form-field>

                    <mat-form-field appearance="outline"
                            [class]="(isHandset$ | async) ? 'innov-matFormField pr-1' : 'innov-matFormField pr-1 ml-1'" 
                            [fxFlex]="50">
                            <mat-label>Admin Billing Address</mat-label>
                            <input matInput placeholder="Admin Billing Address" [(ngModel)]="companyPlanInfo.adminBillingAddress" disabled>
                    </mat-form-field>
                </div>

            </div>


            <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="start">

                <div [fxLayout]="'row'" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                    <mat-form-field appearance="outline"
                            [class]="(isHandset$ | async) ? 'innov-matFormField pr-1' : 'innov-matFormField pr-1 ml-1'" 
                            [fxFlex]="50">
                            <mat-label>Plan Type</mat-label>
                            <input matInput placeholder="Plan Type" [(ngModel)]="companyPlanInfo.plan" disabled>
                    </mat-form-field>

                    <mat-form-field appearance="outline"
                            [class]="(isHandset$ | async) ? 'innov-matFormField pr-1' : 'innov-matFormField pr-1 ml-1'" 
                            [fxFlex]="50">
                            <mat-label>Plan Valid Till</mat-label>
                            <input matInput placeholder="Plan Validity" [value]="companyPlanInfo.validTill | date:'dd/MM/yyyy HH:mm'"  disabled>
                    </mat-form-field>
                </div>

                <div [fxLayout]="'row'" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                    <mat-form-field appearance="outline"
                            [class]="(isHandset$ | async) ? 'innov-matFormField pr-1' : 'innov-matFormField pr-1 ml-1'" 
                            [fxFlex]="50">
                            <mat-label>Renew Rate</mat-label>
                            <input matInput placeholder="Renew Rate" [(ngModel)]="companyPlanInfo.renewRate" disabled>
                    </mat-form-field>

                    <mat-form-field appearance="outline"
                            [class]="(isHandset$ | async) ? 'innov-matFormField pr-1' : 'innov-matFormField pr-1 ml-1'" 
                            [fxFlex]="50">
                            <mat-label>Renew MRP</mat-label>
                            <input matInput placeholder="Renew MRP" [(ngModel)]="companyPlanInfo.renewMrp" disabled>
                    </mat-form-field>
                </div>
            </div>

            <div [fxLayout]="'row'" fxflexfill fxLayoutAlign="end" class="mb-1">
                <div [fxLayout]="'row'" [fxFlex]="(isHandset$ | async) ? 100 : 50" fxLayoutAlign="end">                    
                    <button mat-raised-button class="button-group item_form-buttons"  color="primary"
                    (click)="upgradePlan(companyPlanInfo.productCode)">
                        Renew Plan
                    </button>
                </div>
            </div>

        </mat-card-content>
    </mat-card>
    
    <!-- <mat-card [class]="'mt-1'" *ngIf="editionCount > 0">
        <mat-card-header [class]="'mat-card-headers'">
            <mat-card-subtitle>
                Explore Our Plan(s)
            </mat-card-subtitle>
        </mat-card-header>        
    </mat-card> -->

    <mat-grid-list [cols]="editionCount" rowHeight="280px" gutterSize="5px" [class]="companyPlanInfo.plan == 'free' ? 'mt-2' : 'mt-0'">

        <mat-grid-tile *ngFor="let edition of companyPlanInfo.editions" [colspan]="(isHandset$ | async) ? editionCount : 1" [rowspan]="2">
            <div class="">
                <mat-grid-tile-header class="mt-1 fl-sb-center" [fxLayout]="'row'">
                    <div>
                        {{edition.title}}
                        <div [fxLayout]="'column'" fxflexfill fxLayoutAlign="start" class="plan-name-price">
                            <div class="plan-price-tile">
                                <span class="plan-price">{{ edition.rate | currency: 'INR':true }}</span> / year
                            </div>
                        </div>
                    </div>
                    <button mat-raised-button color="primary" [fxFlex]="25" (click)="upgradePlan(edition.productCode)">
                        {{navigationButton}}
                    </button>                    
                </mat-grid-tile-header>
     
                <div style="margin-top: 3rem;">
                    <ul class="plan-features">
                        <ng-container *ngFor="let feature of edition.features;">
                            <li style="display:flex; align-items:center; margin-top:5px">
                                <mat-icon class="feature-tick">check</mat-icon> 
                                {{feature.title}}
                            </li>
                        </ng-container>                    
                    </ul>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>