<div *ngIf="isFormLoaded">
    <mat-card class="no-card-shadow">
        <mat-card-header [class]="'mat-card-headers align-items-center mb-1'">
            <mat-card-title>
                {{ headerTitle}}
                <div class="title-underline"></div>
            </mat-card-title> 
            <div>
                <button mat-raised-button class="button-group" [fxFlex]="50">
                    Cancel
                </button>
                <button mat-raised-button class="button-group"  color="primary" [fxFlex]="50" (click)="addPaymentDetails()">
                    Save
                </button>
            </div>               
        </mat-card-header>   

        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="INFO">
                    <form [formGroup]="orderTxForm">
                        <mat-card class="mb-1">
                            <mat-card-content class="text-center">
                                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="space-around">                    
                                    
                                    <div [class]="(isHandset$ | async) ? '' : ''" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                                        <i-mat-datepicker [label]="'Date'" [dateFormControl]="orderTxForm.controls['transactiondate'] | convertToFormControl"></i-mat-datepicker>
                                    </div>
                    
                
                                    <div [fxLayout]="'row'" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                
                                        <mat-form-field appearance="outline"
                                            [class]="(isHandset$ | async) ? 'innov-matFormField pr-1' : 'innov-matFormField pr-1 ml-1'"
                                            [fxFlex]="50">
                                            <mat-label>Voucher No.</mat-label>
                                            <input matInput placeholder="Enter Voucher No." #vouchernumber name="vouchernumber"
                                                id="vouchernumber" formControlName="vouchernumber">
                                        </mat-form-field>
                
                                        <mat-form-field appearance="outline"
                                            [class]="'innov-matFormField'"
                                            [fxFlex]="50">
                                            <mat-label>Reference No.</mat-label>
                                            <input matInput placeholder="Enter Reference No." #referenceNo name="referenceNo"
                                                id="referenceNo" formControlName="referenceNo">
                                        </mat-form-field>
                                    </div>
                
                                </div>
                
                                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="space-around">
                
                                    <!-- If Quotation Order then display Contact Box else display Ledger Box -->
                                    <ng-container *ngIf="headerTitle == 'Quotation'; else ledgerBox" >
                                        <Contact-Box [fxFlex]="(isHandset$ | async) ? 100 : 50"                        
                                            [contactFormControl]="getOrderFormControl('contactName')"
                                            [contactBoxTitle]="'Contact'"
                                            (onContactSelection)="onContactSelectionChange($event)">
                                        </Contact-Box>
                                    </ng-container>
                                    <ng-template #ledgerBox>
                                        <Ledger-Box [fxFlex]="(isHandset$ | async) ? 100 : 50"                                               
                                            [ledgerFormControl]="getOrderFormControl('ledgerName')"
                                            [ledgerBoxTitle]="'Ledger'"
                                            (onLedgerSelection)="onLedgerSelectionChange($event)">
                                        </Ledger-Box>
                                    </ng-template>
                                    
                                    <mat-form-field appearance="outline"                        
                                        [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField ml-1'"
                                        [fxFlex]="(isHandset$ | async) ? 100 : 50">
                                        <mat-label>Name on Bill</mat-label>
                                        <input matInput placeholder="Enter Bill Name" #referenceNo name="billName"
                                            id="billName" formControlName="billName">
                                    </mat-form-field>
                                    
                                </div>
                
                                <div *ngIf="headerTitle == 'Quotation'" [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" 
                                    fxflexfill
                                    fxLayoutAlign="space-around">                    
                
                                    <mat-form-field appearance="outline"
                                        [class]="'innov-matFormField'" 
                                        [fxFlex]="(isHandset$ | async) ? 100 : 50">
                                        <mat-label>Status</mat-label>
                                        <mat-select formControlName="status" name="status">
                                            <mat-option value="INITIAL">Initial</mat-option>
                                            <mat-option value="REVISED">Revised</mat-option>
                                            <mat-option value="CONVERTED TO SALE">Converted to Sale</mat-option>
                                            <mat-option value="REJECTED">Rejected</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                
                                    <mat-form-field appearance="outline"
                                        [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField ml-1'"
                                        [fxFlex]="(isHandset$ | async) ? 100 : 50">
                                        <mat-label>Status</mat-label>
                                        <mat-select formControlName="closed" name="closed">
                                            <mat-option value="false">Open</mat-option>
                                            <mat-option value="true">Closed</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                
                            </mat-card-content>
                        </mat-card>
                    </form>

                    <form [formGroup]="itemForm">
                        <mat-card [class]="'mb-1'">
                            <mat-card-header [class]="'mat-card-headers'">                
                                <mat-card-subtitle class="d-flex flex-column">
                                    Items & Services                      
                                </mat-card-subtitle>
                                <div>                    
                                    <mat-slide-toggle matSuffix color="primary" class="font14 fw-500" formControlName="isTaxDeductionFromAmountEnabled">
                                        Deduct Tax From Amount
                                    </mat-slide-toggle>                                  
                                </div>
                            </mat-card-header>
                            <mat-card-content>
                
                                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="start">
                
                                    <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                
                                        <div [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField pr-1'" 
                                            [fxFlex]="(isHandset$ | async) ? 100 : 70">
                                            <item-box   [itemFormControl]="getItemFormControl('itemName')"  
                                                [stockCountStatement]="stockCountStatement"
                                                (onItemSelection)="onItemSelectionChange($event)">
                                            </item-box>
                                        </div>
                
                                       
                
                                        <mat-form-field appearance="outline" [class]="'innov-matFormField'" [fxFlex]="(isHandset$ | async) ? 100 : 30">
                                            <mat-label>Location</mat-label>
                                            <mat-select formControlName="stockLocation" name="stockLocation" (selectionChange)="getItemStockLocationCount()">
                                                <mat-option *ngFor="let stockLocation of stockLocations" [value]="stockLocation.id">
                                                {{stockLocation.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                
                                    </div>
                                    
                
                                    <div [fxLayout]="'row'" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                
                                        <mat-form-field appearance="outline"
                                            [class]="(isHandset$ | async) ? 'innov-matFormField pr-1' : 'innov-matFormField pr-1 ml-1'" 
                                            [fxFlex]="50">
                                            <mat-label>Product Code</mat-label>
                                            <input matInput placeholder="Product Code" #referenceNo name="itemProductCode"
                                                id="itemProductCode" formControlName="itemProductCode">
                                        </mat-form-field>
                
                                        <mat-form-field appearance="outline"
                                            [class]="'innov-matFormField'"
                                            [fxFlex]="50">
                                            <mat-label>Unit</mat-label>
                                            <input matInput placeholder="Unit" #referenceNo name="unitName"
                                                id="unitName" formControlName="unitName">
                                        </mat-form-field> 
                                    </div>
                                    
                                </div>
                
                                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="start">
                
                                    <div [fxLayout]="'row'" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                                        <mat-form-field appearance="outline"
                                            [class]="(isHandset$ | async) ? 'innov-matFormField pr-1' : 'innov-matFormField pr-1'"
                                            [fxFlex]="50">
                                            <mat-label>Quantity</mat-label>
                                            <input matInput placeholder="Quantity" #quantity name="quantity"
                                                id="quantity" formControlName="quantity">
                                        </mat-form-field>
                
                                        <mat-form-field appearance="outline"
                                            [class]="'innov-matFormField'"
                                            [fxFlex]="50">
                                            <mat-label>Rate</mat-label>
                                            <input matInput placeholder="rate" #referenceNo name="rate"
                                                id="rate" formControlName="rate">
                                        </mat-form-field>
                                           
                                    </div> 
                                    
                                    <div [fxLayout]="'row'" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                                        <mat-form-field appearance="outline"
                                            [class]="(isHandset$ | async) ? 'innov-matFormField pr-1' : 'innov-matFormField pr-1 ml-1'" 
                                            [fxFlex]="50">
                                            <mat-label>Discount (%)</mat-label>
                                            <input matInput placeholder="Discount (%)" #referenceNo name="discount"
                                                id="discount" formControlName="discount">
                                        </mat-form-field>
                
                                        <mat-form-field appearance="outline"
                                            [class]="'innov-matFormField'" 
                                            [fxFlex]="50">
                                            <mat-label>Net Rate.</mat-label>
                                            <input matInput placeholder="Net Rate" #referenceNo name="netRate"
                                                id="netRate" formControlName="netRate">
                                        </mat-form-field>
                
                                    </div>
                                    
                                </div>
                
                                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="start">
                
                                    <div [fxLayout]="'row'" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                                        <mat-form-field appearance="outline"
                                            [class]="'innov-matFormField pr-1'"                            
                                            [fxFlex]="50">
                                            <mat-label>Amount (Exc. Tax)</mat-label>
                                            <input matInput placeholder="Amount Excluding Tax" #taxableAmount name="taxableAmountBeforeBillDiscount"
                                                id="taxableAmountBeforeBillDiscount" formControlName="taxableAmountBeforeBillDiscount">
                                        </mat-form-field>
                
                                        <div [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField'" 
                                            [fxFlex]="(isHandset$ | async) ? 100 : 50">
                                            <tax-group-box [taxGroupFormControl]="getItemFormControl('taxGroupName')"
                                                (onTaxGroupSelection)="onTaxGroupSelectionChanged($event)">
                                            </tax-group-box>
                                        </div>
                
                                    </div>
                
                                    <div [fxLayout]="'row'" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                
                                        <mat-form-field appearance="outline"
                                            [class]="(isHandset$ | async) ? 'innov-matFormField pr-1' : 'innov-matFormField pr-1 ml-1'" 
                                            [fxFlex]="50">
                                            <mat-label>Tax Amount</mat-label>
                                            <input matInput placeholder="taxAmount" #taxAmount name="taxAmount"
                                                id="taxAmount" formControlName="taxAmount">
                                        </mat-form-field>
                    
                                        <mat-form-field appearance="outline"
                                            [class]="'innov-matFormField'" 
                                            [fxFlex]="50">
                                            <mat-label>Total Amount</mat-label>
                                            <input matInput placeholder="Total Amount" #totalAmount name="totalAmount"
                                                id="totalAmount" formControlName="totalAmountBeforeBillDiscount">
                                        </mat-form-field>
                
                                    </div>
                                </div>
                
                                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill 
                                    [fxLayoutAlign]="(isHandset$ | async) ? 'start': 'space-between'" 
                                    class="mb-1">
                                    <div [fxLayout]="'row'" [class]="(isHandset$ | async) ? 'mb-1' : ''" fxLayoutAlign="start" >
                                        <button mat-raised-button color="primary"
                                            class="width100 mr-1"
                                            [disabled]="selectedLineItemForEdit == undefined"
                                            (click)="editItemLine()">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-raised-button color="warn" 
                                            class="width100 ml-1"
                                            [disabled]="selectedLineItemForEdit == undefined"
                                            (click)="deleteItemLine()">
                                        <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                    <div [fxLayout]="'row'"  fxLayoutAlign="end">
                                        <button mat-raised-button class="button-group item_form-buttons"  (click)="cancelAddItem()">
                                            <mat-icon>cancel</mat-icon>
                                            Cancel
                                        </button>
                                        <button mat-raised-button class="button-group item_form-buttons"  color="primary" (click)="openServicesForm()">                            
                                            <mat-icon>room_service</mat-icon>
                                            Add Services
                                        </button>
                                        <button mat-raised-button class="button-group item_form-buttons"  color="primary"  (click)="showItemStockAttributes()">
                                            <mat-icon>edit_attributes</mat-icon>
                                            Attributes
                                        </button>
                                        <button mat-raised-button class="button-group item_form-buttons"  color="primary" (click)="addOrEditItemLine()">
                                            <mat-icon>add_circle_outline</mat-icon>
                                            Add Item
                                        </button>
                                    </div>
                                </div>

                                <!--Selected Item Lines-->
                                <div [fxLayout]="'row'" fxflexfill fxLayoutAlign="start" class="responsive-table">
                
                                    <table mat-table class="innoventry-table" [dataSource]="itemLinesDataSource" matSort aria-label="Elements">
                                        <!-- Id Column -->
                                        <ng-container matColumnDef="itemProductCode">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Code</th>
                                          <td mat-cell *matCellDef="let row">{{row.itemProductCode}}</td>
                                        </ng-container>
                                    
                                        <ng-container matColumnDef="itemName">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                                          <td mat-cell *matCellDef="let row">{{row.itemName}}</td>
                                        </ng-container>
                
                                        <ng-container matColumnDef="quantity">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
                                            <td mat-cell *matCellDef="let row">{{row.quantity | number : '1.2-2'}}</td>
                                          </ng-container>
                                    
                                        <ng-container matColumnDef="rate">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Rate</th>
                                          <td mat-cell *matCellDef="let row">{{row.rate | number : '1.2-2'}}</td>
                                        </ng-container>
                                    
                                        <ng-container matColumnDef="discount">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Discount(%)</th>
                                          <td mat-cell *matCellDef="let row">{{row.discount | number : '1.2-2'}}</td>
                                        </ng-container>
                                    
                                        <!-- Name Column -->
                                        <ng-container matColumnDef="taxableAmountBeforeBillDiscount">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                                          <td mat-cell *matCellDef="let row">{{row.taxableAmountBeforeBillDiscount | number : '1.2-2'}}</td>
                                        </ng-container>
                
                                        <ng-container matColumnDef="taxGroupName">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tax Group</th>
                                            <td mat-cell *matCellDef="let row">{{row.taxGroupName}}</td>
                                        </ng-container>
                
                                        <ng-container matColumnDef="taxAmount">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tax Amount</th>
                                            <td mat-cell *matCellDef="let row">{{row.taxAmount | number : '1.2-2'}}</td>
                                        </ng-container>
                
                                        <ng-container matColumnDef="totalAmountBeforeBillDiscount">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Amount</th>
                                            <td mat-cell *matCellDef="let row">{{row.totalAmountBeforeBillDiscount | number : '1.2-2'}}</td>
                                        </ng-container>

                                        <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" [attr.colspan]="itemLineDisplayedColumns.length">
                                                <a style="font-weight:500;cursor:pointer" 
                                                    (click)="openItemSelectionForm()">Add Item Line</a>
                                            </td>
                                        </tr>
                                      
                                        <tr mat-header-row *matHeaderRowDef="itemLineDisplayedColumns"></tr>
                
                                        <tr mat-row *matRowDef="let row; columns: itemLineDisplayedColumns;"
                                            [ngClass]="{'highlight': !!selectedLineItemForEdit && selectedLineItemForEdit.itemId == row.itemId}"
                                            (click)="setSelectedLineItem(row)">
                                        </tr>
                                      </table>                 
                                </div>
                                <div style="text-align:center" *ngIf="itemLinesDataSource.data.length > 0">
                                    <a style="font-weight:500;cursor:pointer"  
                                        (click)="openItemSelectionForm()">Add Item Line</a>
                                </div>
                                
                            </mat-card-content>           
                        </mat-card>
                    </form>

                    <mat-card [class]="'mb-1'">
                        <mat-card-header [class]="'mat-card-headers'">
                            <mat-card-subtitle>
                                Add Other Charges/Discount                    
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <div [fxLayout]="'row'" fxflexfill fxLayoutAlign="space-between" class="mb-1">
                                <div class="table-action-buttons">
                                    <button mat-raised-button color="primary" 
                                        [class]="(isHandset$ | async) ? 'edit-delete-action' : 'button-group'" 
                                        [disabled]="selectedOtherChargeLineForEdit == undefined"
                                        (click)="editOtherChargeLine()">
                                        <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-raised-button color="warn"
                                        [class]="(isHandset$ | async) ? 'edit-delete-action' : 'button-group'" 
                                        [disabled]="selectedOtherChargeLineForEdit == undefined"
                                        (click)="deleteOtherChargeLine()">
                                        <mat-icon>delete</mat-icon>
                                        </button>
                                </div>
                                <div>                       
                                    <button mat-raised-button class="button-group"  color="primary" (click)="openOtherChargesDiscountsModal()">
                                        Add Other Charges/Discounts
                                    </button>
                                </div>
                            </div>
                
                            <div [fxLayout]="'row'" fxflexfill fxLayoutAlign="start" class="responsive-table">
                
                                <table mat-table class="innoventry-table" [dataSource]="otherChargesDataSource" matSort aria-label="Elements">
                                    <!-- Id Column -->
                                    <ng-container matColumnDef="chargesName">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                                        <td mat-cell *matCellDef="let row">{{row.chargesName}}</td>
                                    </ng-container>
                                
                                    <ng-container matColumnDef="value">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rate</th>
                                        <td mat-cell *matCellDef="let row">{{row.value | number : '1.2-2'}}</td>
                                    </ng-container>
                                
                                    <ng-container matColumnDef="amount">
                                        <th mat-header-cell [class]="'text-center'" *matHeaderCellDef mat-sort-header>Total Amount</th>
                                        <td mat-cell [class]="'text-right'" *matCellDef="let row">{{row.amount | number : '1.2-2'}}</td>
                                    </ng-container>
                
                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" [attr.colspan]="otherChargesDisplayedColumns.length">
                                            No Other Charges/Discount Added
                                        </td>
                                    </tr>
                                
                                    <tr mat-header-row *matHeaderRowDef="otherChargesDisplayedColumns"></tr>
                
                                    <tr mat-row *matRowDef="let row; columns: otherChargesDisplayedColumns;"
                                        [ngClass]="{'highlight': !!selectedOtherChargeLineForEdit && selectedOtherChargeLineForEdit.chargesId == row.chargesId}"
                                        (click)="setSelectedOtherChargeLine(row)">
                                    </tr>
                                    </table> 
                
                            </div>
                        </mat-card-content>
                    </mat-card>
                    
                
                    <mat-card>
                        <mat-card-header [class]="'mat-card-headers'">
                            <mat-card-subtitle>
                                Transaction Summary                    
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="end">
                
                                <div [fxLayout]="'row'" [class]="'summary-component'" [fxFlex]="(isHandset$ | async) ? 100 : 30" fxLayoutAlign="space-between">
                                    <div [class]="'summary-header'">
                                        Total Amount
                                    </div>
                                    <div>
                                        {{itemLinesTotalAmount.value | number : '1.2-2'}}
                                    </div>
                                </div>
                            </div>
                            <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="end">
                                <div [fxLayout]="'row'" [class]="'summary-component'" [fxFlex]="(isHandset$ | async) ? 100 : 30" fxLayoutAlign="space-between">
                                    <div [class]="'summary-header'">
                                        Other charges/Discount
                                    </div>
                                    <div>
                                        {{otherChargesTotalAmount.value | number : '1.2-2'}}
                                    </div>
                                </div>                
                            </div>
                            <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="end">
                                <div [fxLayout]="'row'" [class]="'summary-component'" [fxFlex]="(isHandset$ | async) ? 100 : 30" fxLayoutAlign="space-between">
                                    <div [class]="'summary-header'">
                                        Net Amount
                                    </div>
                                    <div>
                                        {{netFinalAmount.value | number : '1.2-2'}}
                                    </div>
                                </div>                
                            </div>
                            
                        </mat-card-content>
                    </mat-card>  

                </mat-tab>
                <mat-tab label="DESCRIPTION">
                    <app-order-description [orderTxForm]="orderTxForm"></app-order-description>
                </mat-tab>
                <mat-tab label="TRANSPORT DETAILS">
                    <app-order-transport-detail [orderTxForm]="orderTxForm"></app-order-transport-detail>
                </mat-tab>
            </mat-tab-group>     
        </mat-card-content>
        
    </mat-card>

</div>
