<mat-sidenav-container class="sidenav-container">    
    <mat-sidenav-content style="background:#FFF">
      <mat-toolbar color="primary">
        <mat-toolbar-row class="justify-content-between">          
          <div class="p-2 logo">
            <img src="assets/images/logo/logo-withoutbg.png" [attr.width]="'100%'" alt="" />
          </div>
          <span class="menu-spacer"></span>
          <div>
            <button mat-button (click)="returnToHome()">
              <mat-icon>home</mat-icon>
              Home
            </button>
            <button mat-button [matMenuTriggerFor]="profile">
              <mat-icon>account_circle</mat-icon>
              {{ userName }}
            </button>
            <mat-menu #profile="matMenu" xPosition="before">             
              <button mat-menu-item color="primary" class="top-menu-link" (click)="logoutPartner()">
                <!-- <mat-icon class="routeIcon">exit_to_app</mat-icon> -->
                <span>Logout</span>
              </button>
            </mat-menu>
  
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
  
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
 
  
    </mat-sidenav-content>
  </mat-sidenav-container>