<form [formGroup]="orderTxForm">
    <mat-card class="mb-1">
        <mat-card-content>
            
            <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="start">
                <mat-form-field appearance="outline" class="innov-matFormField" [fxFlex]="100">
                    <mat-label>Enter Description</mat-label>
                    <textarea matInput placeholder="Enter Description" formControlName="description"></textarea>
                </mat-form-field>
            </div>

            <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="space-between">
                <mat-form-field appearance="outline" [class]="'innov-matFormField'"
                    [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField ml-1'"
                    [fxFlex]="(isHandset$ | async) ? 100 : 50">
                    <mat-label>Mode/Terms Of Payment</mat-label>
                    <input matInput placeholder="Enter Mode/Terms Of Payment" #termsOfPayment name="termsOfPayment" id="termsOfPayment"
                        formControlName="modeOrTermsOfPayment">
                </mat-form-field>

                <mat-form-field appearance="outline" [class]="'innov-matFormField'"
                    [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField ml-1'"
                    [fxFlex]="(isHandset$ | async) ? 100 : 50">
                    <mat-label>Other References</mat-label>
                    <input matInput placeholder="Enter Other References" #otherReferences name="otherReferences"
                        id="otherReferences" fornControlName="otherReferences">
                </mat-form-field>
            </div>

            <div [fxLayout]="'row'" fxflexfill fxLayoutAlign="space-between">

                <mat-form-field appearance="outline" [class]="'innov-matFormField'"
                    [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField ml-1'"
                    [fxFlex]="50">
                    <mat-label>Buyer's Order No.</mat-label>
                    <input matInput placeholder="Enter Buyer's Order No." #buyerOrderNo name="buyerOrderNo"
                        id="buyerOrderNo" formControlName="buyersOrderNo">
                </mat-form-field>

                <div [class]="(isHandset$ | async) ? '' : 'ml-1'" [fxFlex]="50">
                    <i-mat-datepicker [label]="'Dated'"
                        [dateFormControl]="orderTxForm.controls['dated'] | convertToFormControl">
                    </i-mat-datepicker>
                </div>
            </div>


            <div [fxLayout]="'row'" fxflexfill fxLayoutAlign="space-between">

                <mat-form-field appearance="outline" [class]="'innov-matFormField'"
                    [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField ml-1'"
                    [fxFlex]="50">
                    <mat-label>Challan No.</mat-label>
                    <input matInput placeholder="Enter Challan No." #challanNo name="challanNo"
                        id="challanNo" formControlName="challanNo">
                </mat-form-field>

                <div [class]="(isHandset$ | async) ? '' : 'ml-1'" [fxFlex]="50">
                    <i-mat-datepicker [label]="'Challan Dated'"
                        [dateFormControl]="orderTxForm.controls['challanDated'] | convertToFormControl">
                    </i-mat-datepicker>
                </div>
            </div>

            <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="start">
                <mat-form-field appearance="outline" class="innov-matFormField" [fxFlex]="100">
                    <mat-label>Terms of Delivery</mat-label>
                    <textarea matInput placeholder="Enter Terms of Delivery" formControlName="termsOfDelivery"></textarea>
                </mat-form-field>
            </div>

            <!-- [optionFormControl]="orderTxForm.controls['challanDated'] | convertToFormControl" -->
            <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="start">               
                <div [fxFlex]="100">
                    <i-autocomplete-box [optionBoxTitle]="'Terms N Conditions'" [allOptions]="availableTerms"                        
                        (onOptionSelection)="onTermSelection($event)"></i-autocomplete-box>
                </div>                
            </div>

        </mat-card-content>
    </mat-card>

    <mat-card [class]="'mb-1'">
        <mat-card-header [class]="'mat-card-headers'">
            <mat-card-subtitle class="d-flex flex-column">
                Delivery Address
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

            <div [fxLayout]="'row'" fxflexfill fxLayoutAlign="space-between">

                <div [fxFlex]="67">
                    <i-autocomplete-box [optionBoxTitle]="'Delivery Address'" [allOptions]="addressList"                        
                        (onOptionSelection)="onAddressSelection($event)"></i-autocomplete-box>
                </div>  

                <div [class]="(isHandset$ | async) ? '' : 'ml-1'" [fxFlex]="33">
                    <i-mat-datepicker [label]="'Delivery Date'"
                        [dateFormControl]="orderTxForm.controls['deliveryDate'] | convertToFormControl">
                    </i-mat-datepicker>
                </div>
            </div>

            <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="space-between">
                <mat-form-field appearance="outline" [class]="'innov-matFormField'"
                    [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField'"
                    [fxFlex]="(isHandset$ | async) ? 100 : 33">
                    <mat-label>Address 1</mat-label>
                    <input matInput placeholder="Enter Address 1" #address1 name="address1" id="address1"
                        formControlName="deliveryAddress">
                </mat-form-field>

                <mat-form-field appearance="outline" [class]="'innov-matFormField'"
                    [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField ml-1'"
                    [fxFlex]="(isHandset$ | async) ? 100 : 33">
                    <mat-label>Address 2</mat-label>
                    <input matInput placeholder="Enter Address 2" #address2 name="address2" id="address2"
                    formControlName="deliveryAddress2">
                </mat-form-field>

                <mat-form-field appearance="outline" [class]="'innov-matFormField'"
                    [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField ml-1'"
                    [fxFlex]="(isHandset$ | async) ? 100 : 33">
                    <mat-label>Address 3</mat-label>
                    <input matInput placeholder="Enter Address 3" #address3 name="address3" id="address3"
                    formControlName="deliveryAddress3">
                </mat-form-field>
            </div>

            <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="space-between">
                <mat-form-field appearance="outline"
                    [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField'"
                    [fxFlex]="(isHandset$ | async) ? 100 : 50">
                    <mat-label>State</mat-label>
                    <mat-select name="stateId" formControlName="deliveryAddressState">
                        <mat-option *ngFor="let state of states" [value]="state">
                            {{state}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField ml-1'"
                    appearance="outline" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                    <mat-label>City</mat-label>
                    <input type="text" placeholder="Select City" aria-label="city" matInput
                        [matAutocomplete]="autoCity" formControlName="deliveryAddressCity">
                    <mat-icon matSuffix class="search-icon">search</mat-icon>
                    <mat-autocomplete autoActiveFirstOption #autoCity="matAutocomplete">
                        <mat-option *ngFor="let option of filteredDeliveryCities  | async" [value]="option.cityName">
                            {{option.cityName}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field appearance="outline" [class]="'innov-matFormField'"
                    [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField ml-1'"
                    [fxFlex]="(isHandset$ | async) ? 100 : 33">
                    <mat-label>Pincode</mat-label>
                    <input matInput placeholder="Enter Pincode" #Pincode name="Pincode" id="Pincode"
                        formControlName="deliveryAddressPinCode">
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card [class]="'mb-1'">
        <mat-card-header [class]="'mat-card-headers'">
            <mat-card-subtitle class="d-flex flex-column">
                Billing Address
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="space-between">
                <mat-form-field appearance="outline" [class]="'innov-matFormField'"
                    [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField ml-1'"
                    [fxFlex]="(isHandset$ | async) ? 100 : 33">
                    <mat-label>Address 1</mat-label>
                    <input matInput placeholder="Enter Address 1" #address1 name="address1" id="address1"
                        formControlName="billingAddress">
                </mat-form-field>

                <mat-form-field appearance="outline" [class]="'innov-matFormField'"
                    [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField ml-1'"
                    [fxFlex]="(isHandset$ | async) ? 100 : 33">
                    <mat-label>Address 2</mat-label>
                    <input matInput placeholder="Enter Address 2" #address2 name="address2" id="address2"
                        formControlName="billingAddress2">
                </mat-form-field>

                <mat-form-field appearance="outline" [class]="'innov-matFormField'"
                    [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField ml-1'"
                    [fxFlex]="(isHandset$ | async) ? 100 : 33">
                    <mat-label>Address 3</mat-label>
                    <input matInput placeholder="Enter Address 3" #address3 name="address3" id="address3"
                        formControlName="billingAddress3">
                </mat-form-field>
            </div>

            <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="space-between">
                <mat-form-field appearance="outline"
                    [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField'"
                    [fxFlex]="(isHandset$ | async) ? 100 : 50">
                    <mat-label>State</mat-label>
                    <mat-select name="stateId">
                        <mat-option *ngFor="let state of states" [value]="state">
                            {{state}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField ml-1'"
                    appearance="outline" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                    <mat-label>City</mat-label>
                    <input type="text" placeholder="Select City" aria-label="city" matInput
                        [matAutocomplete]="autoCity">
                    <mat-icon matSuffix class="search-icon">search</mat-icon>
                    <mat-autocomplete autoActiveFirstOption #autoCity="matAutocomplete">
                        <mat-option *ngFor="let option of filteredBillingCities  | async" [value]="option.cityName">
                            {{option.cityName}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field appearance="outline" [class]="'innov-matFormField'"
                    [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField ml-1'"
                    [fxFlex]="(isHandset$ | async) ? 100 : 33">
                    <mat-label>Pincode</mat-label>
                    <input matInput placeholder="Enter Pincode" #Pincode name="Pincode" id="Pincode"
                    >
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
</form>
