<div class="mat-elevation-z8">
    <mat-card>
        <mat-card-header [class]="'mat-card-headers'">
            <mat-card-title>
                New Service
                <div class="title-underline"></div>                
            </mat-card-title>
            <div>
                <button mat-raised-button class="button-group"  matTooltip="Add New Item" (click)="viewAllServices()">
                    <mat-icon>arrow_back</mat-icon>
                    All Services
                </button>                
            </div>
        </mat-card-header>

        <mat-card-content  class="text-center" *ngIf="isFormLoaded">
            <form [formGroup]="serviceForm">

                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="space-between">
                    <mat-form-field appearance="outline" [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField mr-1'" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Enter Service Name"
                            #name name="name" id="name"
                            formControlName="name">
                    </mat-form-field>
                    <div [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <Ledger-Box
                            [ledgerFormControl]="serviceForm.controls['ledgerName'] | convertToFormControl"
                            [applyForbiddenNameValidator]=true
                            [ledgerBoxTitle]="'Ledger'" (onLedgerSelection)="onLedgerSelectionChange($event)">
                        </Ledger-Box>
                    </div>
                </div>

                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="space-between">

                    <mat-form-field [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField mr-1'" appearance="outline"  [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <mat-label>Tax Class</mat-label>
                        <input type="text"
                            placeholder="Select Tax Class" 
                            aria-label="taxClass"
                            matInput                    
                            [matAutocomplete]="autoTaxClass"
                            formControlName="taxClassName">
                            <mat-icon matSuffix class="search-icon">search</mat-icon>
                        <mat-autocomplete autoActiveFirstOption #autoTaxClass="matAutocomplete" 
                            (optionSelected)="onTaxClassSelectionChanged($event)">
                        <mat-option *ngFor="let option of filteredTaxClass  | async" [value]="option.name">
                            {{option.name}}
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <mat-form-field class="innov-matFormField" appearance="outline"  [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <mat-label>Purchase Ledger</mat-label>
                        <input type="text"
                            placeholder="Select Purchase Ledger" 
                            aria-label="purchaseLedger"
                            matInput                    
                            [matAutocomplete]="autoPurchaseLedger"
                            formControlName="purchaseAccountName">
                            <mat-icon matSuffix class="search-icon">search</mat-icon>
                        <mat-autocomplete autoActiveFirstOption #autoPurchaseLedger="matAutocomplete" 
                            (optionSelected)="onPurchaseLedgerSelectionChanged($event)">
                        <mat-option *ngFor="let option of filteredPurchaseAccountLedgers  | async" [value]="option.name">
                            {{option.name}}
                        </mat-option>
                        </mat-autocomplete>
                        <mat-error>
                            {{ serviceForm.get('purchaseAccountName')?.errors?.['forbiddenNames']?.value }}
                        </mat-error>
                    </mat-form-field>
                </div>


                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="space-between">
                    <mat-form-field appearance="outline" [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField mr-1'" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <mat-label>Service Group</mat-label>
                        <mat-select formControlName="serviceGroupId" name="serviceGroupId" (selectionChange)="changeServiceGroup()">
                          <mat-option *ngFor="let serviceGroup of serviceGroups" [value]="serviceGroup.id">
                            {{serviceGroup.name}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="innov-matFormField" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <mat-label>Unit</mat-label>
                        <input matInput placeholder="Enter Unit"
                            #unit name="unit" id="unit"
                            formControlName="unit">
                    </mat-form-field>
                </div>

                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="space-between">
                    <mat-form-field appearance="outline" [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField mr-1'" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <mat-label>Rate</mat-label>
                        <input matInput placeholder="Enter Rate"
                            #rate name="rate" id="rate"
                            formControlName="rate">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="innov-matFormField" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <mat-label>SAC Code</mat-label>
                        <input matInput placeholder="Enter SAC Code"
                            #sacCode name="sacCode" id="sacCode"
                            formControlName="sacCode">
                    </mat-form-field>
                </div>

                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="start">
                    <mat-form-field appearance="outline" [class]="'innov-matFormField'" [fxFlex]="100">
                        <mat-label>GST Unit</mat-label>
                        <mat-select formControlName="gstUnit" name="gstUnit">
                          <mat-option *ngFor="let gstUnit of gstUnits" [value]="gstUnit.value">
                            {{gstUnit.value}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="start">                   
                    <mat-form-field appearance="outline" class="innov-matFormField" [fxFlex]="100">
                        <mat-label>Enter Description</mat-label>
                        <textarea matInput placeholder="Enter Service Description"  formControlName="description"></textarea>
                    </mat-form-field> 
                </div>   

                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="space-between">
                    <div class="text-left">
                        <section class="example-section">
                            <mat-checkbox class="example-margin"  formControlName="percentage">Is Percentage</mat-checkbox>              
                        </section>
                    </div>
                    <div>
                        <button mat-raised-button class="button-group" [fxFlex]="50" (click)="viewAllServices()">
                            Cancel
                        </button>
                        <button mat-raised-button class="button-group"  color="primary" [fxFlex]="50" (click)="saveService()">
                            Save
                        </button>
                    </div>
                </div>
                

            </form>
        </mat-card-content>
    </mat-card>
</div>

