
<div mat-dialog-content>
    <p>A transaction has been initiated in the new tab of your browser,you are requested to complete the payment to generate new License.</p>
    <p>Click <b>Close</b> if payment already done & refresh your browser to view the generated License Key.</p>
</div>
<div  mat-dialog-actions class="justify-content-between">
    <button mat-button color="primary" (click)="generateNewLicense()">Generate New License</button>
    <button mat-raised-button color="primary" (click)="closeDialog()">Close</button>  
</div>