.sidenav-container {
    height: 100%;
    background: none !important;
}

.sidenav {
    width: 250px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.logo{
    width: 230px;
    height: 72px;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.top-menu-button{
    padding: 5px;
}

.top-menu-link {    
    height: 30px;
    display: flex;
    align-items: center;
      
    .routeIcon {
      margin-right: 5px;
    }
}

/* footer{
    position:fixed;
    bottom:0px;
    background-color:pink;
    width:100%;
} */